---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">
  {% if site.post_type == 'highlight' %}

    {% for post in paginator.posts %}
    {% if post.highlight %}

    <div class="section-highlight section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" {% if post.image %} style="background-image:linear-gradient(rgba(0,0,0, 0.1) 0%,rgba(0,0,0, 0.6) 100%), url('{{ post.image }}');" {% endif %}></header>

      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4>{{ post.title }}</h4>
          <p>{{ post.excerpt }}</p>
        </div>
        <div class="mdl-card__actions">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
        </div>
      </div>

      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn-high">
        <i class="material-icons">share</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn-high">
        <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url | prepend: site.baseurl }}" class="mdl-menu__item" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a></li>
	<li><a href="https://twitter.com/share?url={{ site.url }}{{ post.url | prepend: site.baseurl }}&text={{ post.title }}&via={{ site.twitter_username }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Twitter</a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ post.url | prepend: site.baseurl }}&description={{ post.title }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Pinterest</a></li>
        <li><a href="https://plus.google.com/share?url={{ site.url }}{{ post.url | prepend: site.baseurl }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Google+</a></li>
      </ul>

    </div>

    {% else %}

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__title" {% if post.image %} style="background-image: linear-gradient(rgba(0,0,0, 0.1) 0%,rgba(0,0,0, 0.6) 100%), url('{{ post.image }}');" {% elsif post.thumbnail %} style="background-image: linear-gradient(rgba(0,0,0, 0.1) 0%,rgba(0,0,0, 0.6) 100%), url('{{ post.thumbnail }}');" {% endif %}>
      <a href="{{ post.url | prepend: site.baseurl }}" class="mdl-card__title-text">{{ post.title }}</a>
      </div>
      <div class="mdl-card__supporting-text">
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.excerpt }}</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="post-{{ post.id }}">
          <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="post-{{ post.id }}">
        <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url | prepend: site.baseurl }}" class="mdl-menu__item" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a></li>
	<li><a href="https://twitter.com/share?url={{ site.url }}{{ post.url | prepend: site.baseurl }}&text={{ post.title }}&via={{ site.twitter_username }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Twitter</a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ post.url | prepend: site.baseurl }}&description={{ post.title }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Pinterest</a></li>
        <li><a href="https://plus.google.com/share?url={{ site.url }}{{ post.url | prepend: site.baseurl }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Google+</a></li>
        </ul>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  {% else %}

    {% for post in paginator.posts %}

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
      <div class="mdl-card__title" {% if post.image %} style="background-image: linear-gradient(rgba(0,0,0, 0.1) 0%,rgba(0,0,0, 0.6) 100%), url('{{ post.image }}');" {% elsif post.thumbnail %} style="background-image: linear-gradient(rgba(0,0,0, 0.1) 0%,rgba(0,0,0, 0.6) 100%), url('{{ post.thumbnail }}');" {% endif %}>
      <a href="{{ post.url | prepend: site.baseurl }}" class="mdl-card__title-text">{{ post.title }}</a>
      </div>
      <div class="mdl-card__supporting-text">
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.excerpt }}</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ post.url | prepend: site.baseurl }}">
          Read More
        </a>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="post-{{ post.id }}">
          <i class="material-icons">share</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="post-{{ post.id }}">
        <li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url | prepend: site.baseurl }}" class="mdl-menu__item" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a></li>
	<li><a href="https://twitter.com/share?url={{ site.url }}{{ post.url | prepend: site.baseurl }}&text={{ post.title }}&via={{ site.twitter_username }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Twitter</a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ post.url | prepend: site.baseurl }}&description={{ post.title }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Pinterest</a></li>
        <li><a href="https://plus.google.com/share?url={{ site.url }}{{ post.url | prepend: site.baseurl }}" class="mdl-menu__item" rel="nofollow" target="_blank" >Google+</a></li>
        </ul>
      </div>
    </div>

    {% endfor %}

  {% endif %}
  </div>

  <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col mdl-layout-spacer mdl-grid">

{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" style="text-decoration:none; color:black;">
<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
<i class="material-icons">arrow_back</i>
<span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(10px, 22px);"></span></span></button>
Newer
</a>
{% endif %}

<div class="mdl-layout-spacer"> </div>

{% if paginator.next_page %}
<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" style="text-decoration:none; color:black;">
Older
<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
<i class="material-icons">arrow_forward</i>
<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
</a>
{% endif %}

</nav>

<!-- Pagination links -->
<!--
<div class="mdl-grid">
  <div class="mdl-layout-spacer"> </div>
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Previous</a>
    {% else %}
      <span class="previous mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled>Previous</span>
-->
    {% endif %}
    <!--span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span-->
<!--
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next previous mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Next</a>
    {% else %}
      <span class="next previous mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled>Next</span>
    {% endif %}
  </div>
</div>
-->

</div>
